<div class="add-container">
  <h1 class="addCourse-title">Добавить новый курс</h1>

  {{#if error}}
    <p class="alert">{{error}}</p>
  {{/if}}

  <form action="/add" method="POST">
    <div class="input-field">
      <input id="title" name="title" type="text" class="validate" placeholder="Название курса" required value="{{data.title}}">
      {{!-- <label for="title">Название курса</label>
      <span class="helper-text" data-error="Введите название"></span> --}}
    </div>

    <div class="input-field">
      <input id="price" name="price" type="number" class="validate" placeholder="Продолжительность прохождения курса в минутах" required min="1" value="{{data.price}}">
      {{!-- <label for="price">Цена курса</label>
      <span class="helper-text" data-error="Введите цену"></span> --}}
    </div>

    <div class="input-field">
      <input id="img" name="img" type="text" class="validate" placeholder="URL картинки" required value="{{data.img}}">
      {{!-- <label for="img">URL картинки</label>
      <span class="helper-text" data-error="Введите url картинки"></span> --}}
    </div>
    <div class="input-field">
      <input id="titlehref" name="titlehref" type="text" class="validate" placeholder="URL страницы" required value="{{data.titlehref}}">
      {{!-- <label for="img">URL страницы</label>
      <span class="helper-text" data-error="Введите url страницы"></span> --}}
    </div>


    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">Добавить курс</button>
  </form>
</div>