<div class="add-container">
  <h1 class="addCourse-title">Редактировать {{course.title}}</h1>

  <form action="/courses/edit" method="POST">
    <div class="input-field">
      <input id="title" name="title" type="text" class="validate" required placeholder="Название курса" value="{{course.title}}">
      {{!-- <label for="title">Название курса</label>
      <span class="helper-text" data-error="Введите название"></span> --}}
    </div>

    <div class="input-field">
      <input id="price" name="price" type="number" class="validate" placeholder="Продолжительность прохождения курса в минутах" required min="1"  value="{{course.price}}">
      {{!-- <label for="price">Цена курса</label>
      <span class="helper-text" data-error="Введите цену"></span> --}}
    </div>

    <div class="input-field">
      <input id="img" name="img" type="text" class="validate" required placeholder="URL картинки"  value="{{course.img}}">
      {{!-- <label for="img">URL картинки</label>
      <span class="helper-text" data-error="Введите url картинки"></span> --}}
    </div>
      <div class="input-field">
      <input id="titlehref" name="titlehref" type="text" class="validate" placeholder="URL страницы" required value="{{data.titlehref}}">
      {{!-- <label for="img">URL страницы</label>
      <span class="helper-text" data-error="Введите url страницы"></span> --}}
      </div>

    <input type="hidden" name="id" value="{{course.id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button type="submit" class="btn btn-primary">Редактировать курс</button>
  </form>

  <form action="/courses/remove" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="id" value="{{ course.id }}">
    <button class="btn red">Удалить курс</button>
  </form>
</div>